<div class="container">
	<table id="cart" class="table table-hover table-condensed" >
		<thead>
			<tr>
				<th style="width:50%">Product</th>
				<th style="width:10%">Price</th>
				<th style="width:8%">Quantity</th>
				<th style="width:22%" class="text-center">Total</th>
			</tr>
		</thead>
		<tbody *ngFor="let key of cartItems">
			<tr>
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 hidden-xs"><img src="{{cartData[key].imgLoc}}" height="100px" width="100px" alt="..." class="img-responsive"/></div>
						<div class="col-sm-10">
							<h4>{{cartData[key].name}}</h4>
							<p>{{cartData[key].description}}</p>
						</div>
					</div>
				</td>
				<td data-th="Price">₹{{cartData[key].price}}</td>
				<td data-th="Quantity">
					<input type="number" ngModel="quantity" class="form-control text-center" [value]=1 (change)="getTotalAmount($event,cartData[key].id)">
				</td>
				<td data-th="Subtotal"  class="text-center"><input id="{{cartData[key].id}}" type="number" ngModel="SubTotal" class="form-control text-center" [value]="cartData[key].price*quantity" disabled></td>
				
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
				<td colspan="2" class="hidden-xs"></td>
				<td class="hidden-xs text-center"><strong>SubTotal<input type="number" ngModel="quantity" class="form-control text-center" [value]=subTotal disabled> </strong></td>
				<td><a href="/checkout" (click)="checkout()" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
			</tr>
		</tfoot>
	</table>
</div>

