body {
    font-family: 'Roboto';font-size: 22px;
}
h1{
 color: blueviolet
}
p{
    color:red
}
img {
    width: 100%;
    height: auto;
  }
  li{
      color: aqua;
  }
  td{
      color: blueviolet
  }