<nav class="navbar ">
    <!-- Navbar content -->  
<a [routerLink]="['/home']"><img src="../../../assets/images/logo.jpg"/></a>
<a [routerLink]="['/cart']" class="topright"><i class="material-icons">shopping_cart</i>Go to Cart</a>
</nav>