.topright {
    position: absolute;
    top: 20px;
    right: 16px;
    font-size: 18px;
  }
  .navbar{
    background-color: #B3E5FC;
  }
  
  .navbar+.h1{
    color: white;;
  }
  img{
    max-height: 62px;
  }