<app-navbar></app-navbar>
<h2 style="text-align:center">User Profile </h2>

<div class="card">
  <img class="circular--square" mat-card-image src="http://lorempixel.com/150/150/people/" alt="John" style="width:100%">
  <h1>{{userInfo.name}}</h1>  
  <p><button>Contact</button></p>
  <p>{{userInfo.email}}</p>
</div>

