<div class="bgimg">
<app-navbar></app-navbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" input type="text" formControlName="email">
          </mat-form-field>
          </p>
          <p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" input type="password" formControlName="password">
          </mat-form-field>
          </p>
          <p *ngIf="error" class="error">
              {{ error }}
          </p>
          <button mat-stroked-button color="accent" class="btn-block" type="submit">Log in</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>