<app-navbar></app-navbar>
<h1>About-us</h1>
<mat-card class="example-card">
    <mat-card-content>
        <p>
           We are marketplaces for unique, authentic places to stay and things to do, offering accommodations and handcrafted activities, all powered by local hosts.
           An economic empowerment engine, We are helping lots of hospitality entrepreneurs monetize their spaces and their passions while keeping the financial benefits of tourism in their own communities.We promote people-to-people connection, community and trust around the world.
        </p>
       </mat-card-content>
    <img mat-card-image src="https://news.airbnb.com/wp-content/uploads/sites/4/2016/10/about-us-header-2.jpg?w=2000" alt="Photo of About-us">
  </mat-card>
  <footer >
    <p class="copyright">© HOMESTAY 2019</p>
  </footer>
  