img{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
}
footer {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: none;
}
p{
    font-family: 'Roboto';font-size: 18px;
}