  <mat-toolbar> 
    <span class="example-fill-remaining-space">
      <a mat-button href="/"><img src="../../../assets/logo.PNG"></a>
      <a mat-button href="/home" >Home</a>
      <a mat-button *ngIf="isLoggedin" href="/user-profile">My Profile</a>
      <a mat-button href="/about-us">About us</a>
    </span>
    <span class="nav-tool-items">
        <a mat-button *ngIf="isshow" routerLink="/login" routerLinkActive="active">Log in</a>
        <a mat-button *ngIf="isshow" mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
        <a mat-button *ngIf="isLoggedin" (click)="logout()">Log out</a>
    </span>
  </mat-toolbar>
  