.example-fill-remaining-space {
   /* This fills the remaining space, by using flexbox. 
      Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }
 .topleft {
   position: absolute;
   top: 2px;
   left: 10px;
   font-size: 18px;
 }
 img{
   max-height: 60px;
 }
 .mat-toolbar{
    background: none;
 }