    footer {
      position: relative;
      height: 50px;
      width: 100%;
      background-color: none;
  }

  p.copyright {
      position: absolute;
      width: 100%;
      color: #333333;
      line-height: 40px;
      font-size: 0.7em;
      text-align: center;
      bottom:0;
  }
  h1{
    margin-block-end: auto;
    margin-left: 30px;
  }
  mat-grid-tile {
    background: none;
  }
  img{
    height: 250px;
    border-radius: 25px;   
  }