<mat-sidenav-container fullscreen>
  <mat-sidenav-content fxLayout="column">
      <app-navbar></app-navbar>
      <h1>What can we help you find ?</h1>

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngFor="let tile of appartments">
          <div  class="r1">
            <mat-card class="example-card">
              <img mat-card-image src="{{tile.imgLoc}}" alt="Photo of Appartment">
              <mat-card-content>
                <p> {{tile.name}}</p>
              </mat-card-content>      
            </mat-card>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
    
    <footer fxFlexOffset="auto">
      <p class="copyright">© HOMESTAY 2019</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>