<div class="bgimg">
<app-navbar></app-navbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-card-content>
          <p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" input type="text" formControlName="name">
          </mat-form-field>
          </p>
          
          <p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" input type="text" formControlName="email">
          </mat-form-field>
          </p>
          
          <p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" input type="password" formControlName="password">
          </mat-form-field>
          </p>
          
          <p>
          <mat-form-field class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <mat-select [(value)]="selected">
              <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
              {{ error }}
          </p>
  
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" type="submit">Register</button>
      </form>
    </mat-card>
  </div>
</div>
  