<h1>Products </h1>


<section class="products">
    <div *ngFor="let product of products.products;let i=index" class="product-card">
      <div  class="product-image">
        <img src="{{product.imgLoc}}">
      </div>
      <div class="product-info">
        <h5>{{product.name}}<br></h5><h6>{{product.description}}</h6>
        <h6>{{product.price}}</h6>
        <button type="button" [hidden]="hidebutton[product.id]" value="{{product.id}}" (click)="addItems($event,product,product.id)" class="btn btn-success" >Add to Cart</button>
        <button type="button" [hidden]="!hidebutton[product.id]" value="{{product.id}}" (click)="removeItems($event,product,product.id)" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </section>
  
  
  